go 1.24.0

use (
	./services/admin-service
	./services/analytics-service
	./services/api-gateway
	./services/feature-flag-service
	./services/feed-service
	./services/graph-service
	./services/group-service
	./services/live-service
	./services/media-service
	./services/memories-service
	./services/message-service
	./services/monetization-service
	./services/notification-service
	./services/orders-service
	./services/payments-service
	./services/post-service
	./services/search-service
	./services/shop-service
	./services/suggestion-service
	./services/trust-safety-service
	./services/user-service
	./shared
)
