go 1.24.0

use (
	./services/admin-service
	./services/analytics-service
	./services/api-gateway
	./services/feature-flag-service
	./services/feed-service
	./services/graph-service
	./services/group-service
	./services/media-service
	./services/notification-service
	./services/post-service
	./services/search-service
	./services/trust-safety-service
	./services/user-service
	./shared
)
